streamlit
folium
streamlit-folium
plotly
geemap
earthengine-api
pandas
numpy
matplotlib
scikit-learn
opencv-python-headless
Pillow
requests
geopandas
shapely
reportlab
python-docx
psycopg2-binary
